@model IEnumerable<FinalTest.Domain.Contracts.ViewModels.TagViewModel>


<div class="row">
    <div id="tagcloud" class="col-md-3">
        <ul>
            @foreach (var tag in Model)
            {
                <li><a href="/tag/DisplayNews/@tag.Id">@tag.Name</a></li>
            }

        </ul>
    </div>
</div>






